<ion-view view-title="Terms And Conditions" >
 <ion-content >

  <div >


      <!-- <h6>1. I must place the well-being and safety of each player above all other considerations</h6>
      <p>2. I must adhere to all guidelines laid down by governing bodies (NSAs, Sports SG) and Team Axis Pte Ltd.<b>bold</b></p>
      <p>3. I must develop an appropriate working relationship with the participants based on mutual trust and respect.</p> -->
   <h5><center><u><b>TEAM AXIS CODE OF CONDUCT FOR INSTRUCTORS</b></u></center></h5>

  <p class="italic-allign">All Coaches/Instructors must respect the rights, <em>dignity </em>and worth of every human being and their ultimate right to self-determination. Specifically, coaches must treat everyone equitably and sensitively, within the context of their activity and ability, regardless of gender, ethnic origin, cultural background, sexual orientation, religion or political affiliation.</p>

  <div class="all-questions">

  <h5 id="one"><center><u><b>Code of Conduct for Instructors</b></u></center></h5>
    <h5> a.	I will arrive no later than <u>15minutes</u> before the start of the assignment. </h5>
    <h5> b.	I will have to inform Team Axis Programme Coordinator no later than 24hrs beforehand if I am not feeling well, and/or not able to conduct the session. Failing which I will lose *1 session of coaching fees equivalent to that which I have missed (fees to be given to the last minute replacement coach/instructor).</h5>


   <div class="terms-list">
    <p>1.  I must respect the rights, dignity and worth of each and every person and treat each equally within the context of the sport.</p>
    <p>2.  I must place the well-being and safety of each player above all other considerations. </p>
    <p>3.  I must adhere to all guidelines laid down by governing bodies (NSAs, Sports SG) and Team Axis Pte Ltd.</p>
    <p>4.  I must develop an appropriate working relationship with the participants based on mutual trust and respect.</p>
    <p>5.  I must not exert undue influence to obtain personal benefit or reward.</p>
    <p>6.  I must encourage and guide participants to accept responsibility for their own behaviour and performance.</p>
    <p>7.  I must ensure that the activities I direct or advocate are appropriate for the age, maturity, experience and ability of participants.</p>
    <p>8.  I must co-operate fully with, Team Axis Sports Coordinator, teachers etc, in the best interests of the students/athletes.</p>
    <p>9.  I must always promote the positive aspects of the sport (e.g. fair play). </p>
    <p>10. I must consistently display high standards of behaviour and appearance.</p>
    <p>11. I must not use or tolerate inappropriate language.</p>
    <p>12. I must not have any physical contact with my students under my charge.</p>
         <p> -	Instructors are not to physically handle any student, nor administer corporal punishment of any kind whatsoever.</p>
         <p> -	Any student not cooperating and misbehaving will be reported to the teacher-in-charge and the matter be referred to Team Axis Programme Coordinator.</p>
         <p> -	All Instructors must carry a whistle during coaching.</p>
         <p> -	When in doubt, always refer to Team Axis Programme coordinator or teacher in charge.</p>
  </div>

   <div>
     <h5 id="one"><center><u><b>Dress Code for Instructors</b></u></center></h5>
   </div>

   <div class="Dress-list">
     <p>1.   All coaches are expected to enforce the school dress code.</p>
     <p>2.   Coaches are expected to dress appropriately as a coach and role model.</p>
     <p>3.   No slippers/sandals are to be worn in School Premises at all times.</p>
     <p>4.   Tattoos are strictly to be covered up.</p>
     <p>5.   No dyed hair is to be shown and must be covered up by a cap.</p>
     <p>6.   Earrings and/or facial jewelry are not to be worn.</p>
     <p>7.   Team Axis official Instructor uniform is to be worn when coaching</p>
     <p>8.   Smoking is strictly not allowed within 100 meters of the School Premises.</p>
   </div>

   <div>
     <h5 id="one"><u><b>To be a qualified Team Axis instructor, the person must possess the following:</b></u></h5>
   </div>

   <div class="instructor-list">
     <p>1.   National Coaching Accreditation Programme (NCAP) Theory, and/or Technical Certification with VPS (Sports SG) or its equivalent.</p>
     <p>2.   Any other relevant certification required for the programme </p>
     <p>3.   Valid Standard First Aid, CPR & AED Certification</p>
     <p>4.   MOE IRS Registered (If coaching in any MOE Schools)</p>
   </div>

   <div>
     <p class="notes-itallic"><b>*Note* Any instructor found in breach of the above mentioned Dress Code & Code of Conduct may have part or whole of his/her coaching fee forfeited. Depending on the severity of the offense, Team Axis may report the incident to the regulating authorities.</b></p>
   </div>

  <div ng-controller="viewctrl" >
   <button ng-click="openSignin()" class="button button-block bar-balanced" >
     click here to accept this offer
   </button>
 </div>



  </div>


  </div>



 </ion-content>


</ion-view>
